<div class="h-screen border-solid border-2 border-neutral-300">
  <div class="mx-auto block w-3/6">
    <img class="rounded-full mt-8" src="logo.webp" width="80" />
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">Home</p>
    <i class="ri-home-3-line text-neutral-500"></i>
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">About</p>
    <i class="ri-user-fill text-neutral-500"></i>
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">Education</p>
    <i class="ri-school-fill text-neutral-500"></i>
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">
      Experience
    </p>
    <i class="ri-contacts-book-3-line text-neutral-500"></i>
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">Skills</p>
    <i class="ri-macbook-fill text-neutral-500"></i>
  </div>
  <div
    class="flex px-8 cursor-pointer gap-x-4 items-center mt-8 hover:bg-neutral-200"
  >
    <p class="text-neutral-500 font-mono font-medium text-xl my-0">Projects</p>
    <i class="ri-article-fill text-neutral-500"></i>
  </div>
</div>
